#second-part,
#third-part,
#fourth-part,
#part-fifth,
#part-sixth,
#part-seventh {
  margin-top: 0.35rem;
}

#eighth-part {
  margin-top: 5rem;
}

.title-info {
  background-color: #f1f1f1;
}

.info-text {
  padding: 0.2rem;
}

#eighth-part table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#date::after {
  content: '____/______';
}
#date::before {
  content: '____/';
}
#assinatura-tecnico::after {
  content: '____________________________';
}
#assinatura-acidentado::after {
  content: '____________________________';
}
.quiz {
  padding-left: 12px;
}

header,
main {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
